body {
    margin: 0;
    transition: background-color 2s;
}

a {
    color: whitesmoke;
    transition: all 0.4s;
}

a:hover {
    color: rgb(255, 191, 96);
}

#root-box {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    position: relative;
}

#root-background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .8;
    z-index: -2;
}

#root-background img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    animation: show2 1s;
}

#content {
    width: 80%;
    margin: 0 10%;
}

.Pag {
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
}

#Pag1>* {
    opacity: 0;
}

#Pag2>* {
    opacity: 0;
}

#Pag3>*,
#Pag4>*,
#Pag5>*,
#Pag7>* {
    opacity: 0;
}

#Pag1 img {
    position: relative;
    top: -240px;
    animation: show1 1s 0.5s forwards;
}

.NoLow {
    animation: show1 1s;
    display: inline-block;
}

#Pag2 img {
    width: 250px;
    position: relative;
    top: -80px;
    animation: show1 1s 0.5s forwards;
}

#Pag2 h1 {
    margin-top: 36px;
    font-size: 92px;
    animation: show1 1s forwards;
    color: #F8A636;
    text-shadow: 3px 3px 12px whitesmoke;
}

#Pag1 h1,
#Pag5 h1 {
    margin-top: 36px;
    font-size: 92px;
    animation: show1 1s forwards;
    color: #F8A636;
    text-shadow: 3px 3px 12px whitesmoke;
}

#Pag2 h2 {
    position: relative;
    top: -100px;
    color: whitesmoke;
    font-size: 48px;
    text-shadow: 2px 4px 2px #D23028;
}

#Pag1 h2 {
    animation: show1 1s 1s forwards;
    position: relative;
    top: -390px;
    color: whitesmoke;
    font-size: 48px;
    text-shadow: 2px 4px 2px #D23028;
}

#Pag1 button {
    animation: show1 1s 1.5s forwards;
    position: relative;
    top: -300px;
    border-radius: 100%;
    width: 200px;
    height: 200px;
    background-color: #f8a736ef;
    font-size: 36px;
    border: 4px solid white;
    transition: all 0.4s;
}

#Pag2 button {
    position: relative;
    border-radius: 100%;
    width: 200px;
    height: 200px;
    background-color: #f8a736ef;
    font-size: 36px;
    border: 4px solid white;
    transition: all 0.4s;
}

#Pag1 button:hover,
#Pag2 button:hover,
#Pag3 button:hover,
#Pag5 button:hover {
    border: 4px solid #D23028;
}

#Pag4 button:hover {
    border: 4px solid #92B0F6;
}

#creatLow {
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

#creatLow img {
    position: absolute;
    left: 0;
    top: 0;
}

.showclass {
    animation: show1 1s forwards;
}

.youArePrefect {
    animation: show3 1s;
    font-size: 74px;
    line-height: 105px;
}

#Pag3 h1 {
    animation: show1 1s forwards;
    color: #57ecce;
    font-size: 48px;
    text-shadow: 3px 3px 4px #f9e1bf;
}

#Pag3 ul {
    list-style-position: inside;
    list-style-image: url("../img/listLi.png");
    margin: 0 auto;
    width: 39vw;
    background-color: #c8ffffc9;
    border-radius: 39px;
    padding-top: 12px;
    padding-bottom: 12px;
    max-height: 70vh;
    overflow: auto;
    animation: show1 1s 0.5s forwards;
    transition: all 1s;
}

#Pag3 li {
    font-size: 32px;
    text-align: left;
    text-shadow: 2px 1px 3px rgb(255, 255, 255);
    color: #F23847;
    animation: show1 1s;
}

#Pag3 li>span {
    display: inline-block;
    font-weight: bold;
    color: #F39C12;
    text-shadow: 2px 1px 1px whitesmoke;
    width: 105px;
    animation: colorful 25s infinite;
}

#Pag3 button {
    border-radius: 12px;
    width: 120px;
    background-color: #f8a736ef;
    font-size: 24px;
    border: 4px solid white;
    transition: all 0.4s;
    margin: 15px;
}

#musicBox {
    z-index: 99;
    position: fixed;
    top: 0;
    right: 0;
    width: 90px;
    opacity: 0;
    transition: right 1s;
}

#musicBorder {
    position: relative;
    top: 2vh;
    width: 70px;
    height: 70px;
    box-sizing: border-box;
    border: 14px solid #1F1F1F;
    border-radius: 100%;
    overflow: hidden;
}

#musicBorder img {
    position: absolute;
    top: -6px;
    left: -6px;
    animation: rotate 12s linear infinite;
}

#Pag4Right {
    position: absolute;
    top: 12vh;
    left: 6vw;
    width: 17.5vw;
}

#Pag4 dt {
    font-size: 34px;
    color: #92B0F6;
    text-shadow: 3px 2px 0 black;
    font-weight: bold;
    text-align: left;
}

#Pag4 dd {
    font-size: 28px;
    color: #5C4033;
    text-shadow: 3px 2px 0 rgb(255, 255, 255);
    font-weight: bold;
    line-height: 45px;
    text-align: left;
}

#Pag4 p {
    color: #92B0F6;
    text-shadow: 3px 2px 0 black;
    font-size: 32px;
    font-weight: bold;
    position: absolute;
    left: 32vw;
    width: 30vw;
}

#Pag4 p:nth-of-type(1) {
    top: 14vh;
}

#Pag4 p:nth-of-type(2) {
    top: 42vh;
}

#Pag4 p:nth-of-type(3) {
    top: 68vh;
}

#Pag4 button {
    position: absolute;
    border-radius: 30px;
    width: 180px;
    height: 100px;
    background-color: #f8a736ef;
    font-size: 36px;
    border: 4px solid white;
    transition: all 0.4s;
    top: 57vh;
    right: 15vw;
}

#Pag4Right {
    animation: show1 1s 0.5s forwards;
}

#Pag4 p:nth-last-of-type(3) {
    animation: show1 1s 2s forwards;
}

#Pag4 p:nth-last-of-type(2) {
    animation: show1 1s 3.5s forwards;
}

#Pag4 p:nth-last-of-type(1) {
    animation: show1 1s 5s forwards;
}

#Pag4 button {
    animation: show1 1s 8s forwards;
}

#Pag5 h1 {
    margin-bottom: 48px;
    color: #de4c44;
}

#Pag5 h2 {
    margin-top: 0;
    animation: show1 1s 0.5s forwards;
    color: rgb(122, 231, 255);
    font-size: 48px;
    text-shadow: 2px 4px 2px #D23028;
}

#Pag5 textarea {
    animation: show1 1s 1s forwards;
    width: 360px;
    height: 120px;
    background-color: #63e2989d;
    font-size: 24px;
    font-family: "黑体";
    font-weight: bold;
    color: #E46E23;
    text-shadow: 1px 1px 0 rgb(255, 255, 255);
    padding: 12px;
    transition: all 1s;
    border-radius: 16px;
}

#Pag5 textarea:focus {
    background-color: #ffffffd3;
}

#Pag5 button {
    margin-top: 30px;
    border-radius: 30px;
    width: 150px;
    height: 7vh;
    background-color: #f8a736ef;
    font-size: 32px;
    border: 4px solid white;
    transition: all 0.4s;
    animation: show1 1s 2s forwards;
}

i {
    background-color: #1F1F1F;
    color: #1F1F1F;
    transition: all 0.5s;
    text-shadow: none;
    padding-right: 5px;
}

i:hover {
    color: #ffffff;
}

#Pag6 h2 {
    position: relative;
    top: 40vh;
    color: rgb(165, 28, 28);
    font-size: 48px;
    text-shadow: 2px 4px 2px #391d1c;
    animation-name: flashText;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#Pag6 h3 {
    position: relative;
    top: 40vh;
    color: rgb(62, 193, 233);
    font-size: 48px;
    text-shadow: 2px 4px 2px #fcfafa;
    animation: show1 2s;
}

#Pag6 p {
    position: relative;
    margin-top: 16vh;
    color: #FCFF9B;
    font-size: 48px;
    text-shadow: 2px 4px 2px #419FD9;
    animation-name: show1;
    animation-duration: 2s;
}

video {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 2vw;
    top: 2vh;
}

#Pag7 h1 {
    margin-top: 130px;
    font-size: 92px;
    animation: show1 1s forwards;
    color: #F8A636;
    text-shadow: 3px 3px 12px whitesmoke;
}

#Pag7 h2 {
    animation: show1 1s 1s forwards;
    position: relative;
    top: 140px;
    color: rgb(255, 196, 125);
    font-size: 48px;
    text-shadow: 2px 4px 2px #D23028;
}

#Pag7 button {
    animation: show1 1s 1s forwards;
}

#Pag7 a {
    text-decoration: none;
    color: #1F1F1F;
}

@keyframes show1 {

    /* 从上到下渐入 */
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    25% {
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes show2 {

    /* 渐入 */
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes show3 {
    0% {
        font-size: 105px;
        color: #f8a736ef;
    }

    100% {
        font-size: 74px;
        color: whitesmoke;
    }
}

@keyframes colorful {
    0% {
        color: #F23847;
    }

    10% {
        color: #419FD9;
    }

    30% {
        color: #79DCF2;
    }

    50% {
        color: #7CBF17;
    }

    70% {
        color: #F2EB8D;
    }

    100% {
        color: #F23847;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes flashText {
    0% {
        opacity: 0;
    }

    60% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes rotateYto-90 {
    0% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(-90deg);
    }
}

@keyframes rotateYto0 {
    0% {
        transform: rotateY(90deg);
    }

    100% {
        transform: rotateY(0deg);
        opacity: .8;
    }

}
